.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

.nav-bar {
    width: 1920px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 192px 24px;

}

.bd2o {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;

}

.nav-btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 9px;
    padding: 18px 36px 18px 36px;
    background-color: transparent;
    /* margin: 28px 0px 28px ; */

}

.nav-btn .sign-in-btn {
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    background-color: transparent;
    border: none;

}

/* banner section started */
#banner {
    width: 1536px;
    height: 672px;
    margin: 24px 192px 0px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
}

#banner .left-col {
    width: 746px;
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 140px 76px 140px 70px;
}

.left-col-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.left-col-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 67px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
}

.left-col-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
}

.right-col {
    width: 568px;
    height: 480px;
    margin: 96px 72px 96px auto;
}

.inner-img {
    display: flex;
    justify-content: center;

}

.inner-img img {
    height: 480px;
}

/* main section started  */
#vision-of-future {
    width: 1536px;
    height: 918px;
    margin: 80px auto;
    /* background-color: gray; */
}

.upper-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.upper-sec-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px auto 28px 0px;
}

.upper-sec-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.middle-sec {
    display: flex;
    gap: 28px;
}

.inner-img3 {
    margin: 39px 339px 30px 39px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 38px 14px 38px;
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 38px 28px 38px;
}

.card-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 9px;
    background: rgb(84, 144, 245);
    padding: 13px 24px 13px 24px;
    border: none;
    margin: 0px 307px 38px 38px;

}

.card1 {
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(84, 144, 245, 0.2);

}

.card2 {
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(198, 228, 214);
}

.card3 {
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(247, 235, 207);
}

/* recent news section started */

#recent-news {
    width: 1536px;
    height: 1687px;
    /* background-color: aquamarine; */
    margin: 80px auto;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 38px;
}

.header-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 28px;
}

.header-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.news-box {
    border-radius: 28px;
    background: rgb(255, 255, 255);
    display: flex;

}

 .left-box-img {
    width: 489px;
    height: 367px;
    border-radius: 28px;
    margin: 57px 57px 57px 38px;
 }
 .news-col-2 .left-box-img1 img {
    width: 489px;
    height: 367px;
    border-radius: 28px;
    
    
   

}
 .news-col-2 .left-box-img1 {
    width: 489px;
    height: 367px;
    /* border-radius: 28px; */
    margin: 57px 57px 57px auto;
    

}



.left-box-img img {
    height: 367px;
    border-radius: 28px;
}

.right-box {
    margin: 67px 57px 67px auto;
}
.news-col-2 .right-box {
    margin: 67px 57px 67px 57px;
}


.news-heading {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.al-jazeera {
    width: 160px;
    height: 48px;
    margin: 14px 732px 14px 0px;

}

.al-jazeera img {
    width: 160px;
    height: 48px;

}

.dandt {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 0px 14px 0px;
}

.news-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.read-more-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding: 16px 31px 16px 31px;
    border-radius: 9px;
    background: rgb(0, 106, 80);
    border: none;
    margin: 38px 726px 0px 0px;
}
.news-col-1 {
    margin-bottom: 28px;
}
.news-col-2 {
    margin-bottom: 28px;
}